<h1>Edit songs</h1>

<%= simple_form_for [@album, @song] do |a| %>
  <%= a.input :title %>
  <%= a.input :title %>
  <%= a.input :title %>
  <%= a.input :title %>
  <%= a.input :title %>

  <%= a.button :submit %>
<% end %>
