<h1>Post Songs</h1>

<%= simple_form_for @song do |s| %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>

  <%= s.button :submit %>
<% end %>
