<h1>Post Songs</h1>

<%= simple_form_for [@album, @song] do |s| %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>
  <%= s.input :title %>

  <%= s.button :submit %>
<% end %>
