<h1>All Albums Of <%= @artist.name %> </h1>


<% @albums.each do |a| %>
  <h3><%= a.title %></h3>
  <h4> <%= link_to "<Reviews>", album_reviews_path(a) %></h4>
  <h4> <%= link_to "<Songs>", album_songs_path(a) %></h4>

<% end %>

<%= link_to 'Post Album', new_artist_album_path(@artist) %> <br>
<%= link_to 'Home', root_path %>
